html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    transform: scale(1);
    transform-origin: 0 0;
}

.ascii-logo {
    font-size: 10px;
    font-family: monospace;
    white-space: pre-wrap; /* CSS3 */
    word-wrap: break-word;
    margin-bottom: 20px; /* Adjust as needed */
}

.ascii-art-desktop {
    font-size: 10px;
    font-family: monospace;
    overflow: auto;
    white-space: pre-wrap; /* CSS3 */
    word-wrap: break-word;
    margin-bottom: 20px; /* Adjust as needed */
    display: block;
}

.ascii-art-mobile {
    font-size: 20px; /* Adjust as needed */
    font-family: monospace;
    overflow: auto;
    white-space: pre-wrap; /* CSS3 */
    word-wrap: break-word;
    margin-bottom: 10px; /* Adjust as needed */
    display: none;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 12px; /* Adjust as needed */
    }
    .ascii-logo, .ascii-art-desktop {
        display: none;
    }
    .ascii-art-mobile {
        display: block;

    }
    #weatherDiv {
        width: 100%;
        padding: 10px;
    }
}